p a {
    font-size: 30px;
    color: #fff;
    background-color: grey;
    display: block;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

p a:hover {
    color: grey;
    background-color: #fff;
}

.widget {
    margin-top: 30px;
    border-radius: 8px;
    padding: 100px 88px;
    width: 345px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 440px;
}

.widget p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.change-color {
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: all 0.3s ease;
}

.change-color:hover {
    background: #6c8cff;
}